<div class="container">
    <a class="btn btn-primary" asp-controller="Product" asp-action="Index">Create a Project</a>
    <a class="btn btn-primary" asp-action="ListProjects">List My Projects</a>
</div>