@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h3 class="display-4">Welcome to Inredning Online</h3>
    <p>If you are admin, click on <span><a asp-controller="AdminPanel" asp-action="ListAllProjects">"Admin Panel"</a>
        and Log in to see a list of projects.</span></p>
    <p>If you are an existing user/a new user, click on <span><a asp-controller="UserPanel" asp-action="Index">"User Panel"</a></span>
        to sign in/register.</p>

</div>
